<div class="container">

  <div class="ui-g-12">
    <h2 class="text-center"><b>Detalhes do Apontamento</b></h2>
  </div>

  <div class="ui-g-12">
      <div class="ui-sm-12 ui-md-6 ui-g-6 ui-fluid">
          <label><h5>Funcionário</h5></label>
          <input pInputText type="text" name="atividade"
          [(ngModel)]="apontamento.funcionario.nome">
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-6 ui-fluid">
            <label><h5>Atividade</h5></label>
            <input pInputText type="text" name="atividade"
            [(ngModel)]="apontamento.atividade.descricao">
          </div>

          <div class="ui-sm-12 ui-md-4 ui-g-4 ui-fluid">
              <label><h5>Data/Hora de Início</h5></label>
              <input pInputText type="text" name="datainicio"
              [(ngModel)]="apontamento.dataInicio">
            </div>

            <div class="ui-sm-12 ui-md-4 ui-g-4 ui-fluid">
                <label><h5>Data/Hora de Finalização</h5></label>
                <input pInputText type="text" name="datafim"
                [(ngModel)]="apontamento.dataFim">
              </div>

              <div class="ui-sm-12 ui-md-3 ui-g-3 ui-fluid">
                  <label><h5>Quantidade de Horas</h5></label>
                  <input pInputText type="text" name="quantidade"
                  [(ngModel)]="apontamento.quantidadeHoras">
                </div>

                <div class="ui-g-12">
                  <button class="btn btn-warning"  [routerLink]="['/apontamentos']"
                  *ngIf="loginService.temPermissao('GESTOR')">
                    <i class="fa fa-arrow-circle-left"></i> Voltar</button>
                    <button class="btn btn-warning"  [routerLink]="['/meusApontamentos']"
                    *ngIf="loginService.temPermissao('COMUM')">
                      <i class="fa fa-arrow-circle-left"></i> Voltar</button>
                </div>
  </div>
</div>
