<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <form class="form" #formLogin="ngForm" autocomplete="off">
                            <div class="form-group">
                                <label class="text-white">Nome:</label><br>
                                <input type="text" #emai name="emailAcesso"
                                 [(ngModel)]="email" required
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="text-white">Senha:</label><br>
                                <input type="password" #senh name="senhaAcesso"
                                 [(ngModel)]="senha" required
                                 class="form-control">
                            </div>
                            </form>
                            <div class="text-center" style="margin-left: 130px;">
                                <button class="btn btn-success" (click)="fazerLogin()"
                                [disabled]="!formLogin.valid"><i class="fa fa-sign-in"></i> Acessar</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
