<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 offset-sm-4">
      <br><br>

      <div class="card">
        <form class="form" #formLogin="ngForm" autocomplete="off">
          <div class="form-group">
            <label class="text-white">Nome:</label><br>
            <input type="text" #emai name="emailAcesso" [(ngModel)]="email" required class="form-control">
          </div>
          <div class="form-group">
            <label class="text-white">Senha:</label><br>
            <input type="password" #senh name="senhaAcesso" [(ngModel)]="senha" required class="form-control">
          </div>
        </form>
        <div class="text-center">
          <button class="btn btn-success btn-block" (click)="fazerLogin()" [disabled]="!formLogin.valid"><i class="fa fa-sign-in"></i>
            Acessar</button>
        </div>
      </div>
    </div>
  </div>

</div>
