<div class="container">

    <div class="ui-g-12">
      <h2 class="text-center"><b>Apontamentos</b></h2>
    </div>

    <div class="ui-g-12">
      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input #fa type="text" pInputText size="20" placeholder="Busca..." maxlength="10">
      </div>
    <p-dataTable [value]="apontamentos" [paginator]="true" [rows]="8"
    [responsive]="true" emptyMessage="Nenhum Apontamento Encontrado" [globalFilter]="fa"
    [rowsPerPageOptions]="['8','15', '20', '30', '50', '100']">
    <p-column styleClass="tabela-funcionario-acao" header="Ações">
        <ng-template pTemplate="body" let-apontamento="rowData">
            <button pTooltip="Detalhes" class="btn btn-info"
             [routerLink]="['/detalhesApontamento', apontamento.id]"
            tooltipPosition="top"><i class="fa fa-list"></i></button>
        </ng-template>
      </p-column>
    <p-column styleClass="tabela-funcionario-atividade" field="atividade.descricao" header="Atividade Desenvolvida"></p-column>
    <p-column styleClass="tabela-funcionario-data" header="Data de Início">
        <ng-template pTemplate="body" let-apon="rowData">
            <span>{{apon.dataInicio | date:'dd/MM/yyyy HH:mm:ss'}}</span>
        </ng-template>
    </p-column>
    <p-column styleClass="tabela-funcionario-data" header="Data de Fim">
        <ng-template pTemplate="body" let-apont="rowData">
            <span>{{apont.dataFim | date:'dd/MM/yyyy HH:mm:ss'}}</span>
        </ng-template>
    </p-column>
    </p-dataTable>

  </div>
  </div>
