<div class="container">

  <div class="ui-g-12">
    <h2 class="text-center"><b>Relatório de Funcionários</b></h2>
  </div>

  <div class="ui-g-12">
      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input #fa type="text" pInputText size="20" placeholder="Busca..." maxlength="10">
      </div>
    <p-dataTable [value]="funcionarios" [paginator]="true" [rows]="8"
    [responsive]="true" emptyMessage="Nenhum Funcionário Encontrado" [globalFilter]="fa"
    [rowsPerPageOptions]="['8','15', '20', '30', '50', '100']">
    <p-column styleClass="tabela-funcionario-acao" header="Ações">
        <ng-template pTemplate="body" let-func="rowData">
            <button pTooltip="Detalhes do Funcionário" class="btn btn-info"
            [routerLink]="['/detalhesFuncionario', func.id]"
            *ngIf="!(func.id == loginService.jwtPayLoad.idFun)"
            tooltipPosition="top"><i class="fa fa-list"></i></button>
        </ng-template>
      </p-column>
    <p-column styleClass="tabela-funcionario-atividade" field="nome" header="Funcionário"></p-column>
    <p-column styleClass="tabela-funcionario-data" field="tipoPermissao" header="Cargo"></p-column>
    </p-dataTable>
    </div>
</div>
